# binary files
*.so

cmake-build-debugindocker/
.DS_Store
# distribution and packaging
build/
build_out/
build_test/
third_party/
cov/

# vim cache
*.swp

# python cache
*.pyc
__pycache__

# IDE
.idea
.vs
.vscode
cmake-build-debug
cmake-build-release
cmake-build-gcov
cmake-build-dt

# agent
.gemini
GEMINI.md
.claude
.opencode
.agent
AGENT.md
CLAUDE.md
